
.section1image {
    background: url("../assets/images/aboutussection1image(1)(1).jpg") lightgray
      no-repeat;
    height: 800px;
    margin-bottom: 32px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   
  }

.bottom-right {
    position: absolute; 
  display: block;
    color: #FFF;
    font-family: "Inter"; 
    font-size: 28px; 
    font-style: normal; /* No italics */
    font-weight: 500; /* Font weight */
    line-height: 36px; /* Line height */
    text-transform: uppercase; /* Uppercase text */
    margin:auto;
    margin-top: 721px;
    margin-left: 1270px;
   
  
   
}


p.subheading {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-transform: uppercase;
    margin-top: 56px;
    margin-bottom: 24px;
}

p.subcontent {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 56px;
}


p.subcontent1 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 72px;
}


p.blogheading {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 99.5px;
    margin-bottom: 8px;
}

p.blogcontent {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-right: 25px;
}


img.cupgirl {
    width: 628px;
    height: 386px;
}

p.paracontentaboutus {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: auto;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    text-align: justify center;
}



